body {
    color: #333;
    text-align: center;
    font-family: Courier;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}
#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 2px solid #ddd;
    margin: 0 auto;
}
#conteiner h1 {
    font-size: 20px;
}